#!/usr/bin/env bash

# Abbreviations {{{1

alias blt='bluetoothctl'

alias chrome='google-chrome-stable'

alias cra='npx create-react-app'
alias crat='npx create-react-app --scripts-version=react-scripts-ts'

alias typesync='npx typesync'

alias g='git'

alias grm='go run main.go'

alias l='ll'

alias m='make'

alias py='pipenv run -- python'

alias r='ranger'

alias codediff='code -n -d'
alias vimdiff='nvim -d'
alias se='sudoedit'
alias vp='vimpager'

alias sshkey='ssh-keygen -t ed25519 -C "$(whoami)@$(hostname)-$(date -I)"'
alias gpgkey='gpg --full-gen-key'

alias nw='new-wallpaper'

alias update='yay -Syu --noconfirm --needed'


# New Commands {{{1

function new-wallpaper {
    folder_path=$HOME/drive/images/desktop_wallpapers/other
    image_path=$(fd --full-path $folder_path --type f | shuf -n 1)
    feh --bg-scale $image_path
}

alias open-greenclip='rofi -modi "clipboard:greenclip print" -show clipboard -run-command '{cmd}''

alias clean-tmp='sudo find /tmp -type f -atime +7 -delete'
alias clean-trash='find /home/cjbassi/trash -type f -atime +7 -delete'
# alias clear-temp='tmpreaper 7d /tmp'

function iaccp {
    hub init
    hub add .
    hub commit -m "Initial commit"
    hub create
    hub push -u origin master
}

function prepend {
    cat - "$@" | sponge "$@"
}

function fork {
    nohup "$@" </dev/null >/dev/null 2>&1 &; disown
}

function mkcd {
    mkdir "$@"; cd "$@"
}

function terminal {
    fork alacritty --working-directory . -e 'ranger'
}


# Settings {{{1

alias sudo='sudo '

alias rg='rg -S --hidden'

alias git='hub'

alias ll='ls -AhgoF --group-directories-first --color=always'

alias makepkg='makepkg -si'

function yay {
    if [[ "$1" == "-S" ]]; then
        command yay "$@" --needed --mflags '--nocheck'
    else
        command yay "$@"
    fi
}

alias ps='ps aux'

# TODO progress1 and 2
# alias rsync='rsync -h --info=all2'
alias rsync='rsync -h --progress'

alias sshfs='sshfs -C -o reconnect'

alias su='sudo -E su -m'

alias uname='uname -a'

alias valgrind='colour-valgrind --leak-check=yes --track-origins=yes'

alias w='w -f'

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rmtrash -Id'
alias rmdir='rmdirtrash'
alias mkdir='mkdir -vp'
alias ln='ln -v'

alias df='df -h'
alias du='du -h'

alias g++='g++ -g -Wall'
alias gcc='gcc -g -Wall'
