alias va='v ~/.aliases'
alias vg='v ~/Dropbox/notes/technology/programming_guide.md'
alias vp='v ~/Dropbox/config/polybar/config'
alias vv='v ~/.vimrc'
alias vi3='v ~/Dropbox/config/i3/config'
alias vz='v ~/.zshrc'

alias v='vim'
alias vim='nvim'
alias l='ll'

alias gcc='gcc -Wall'

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -vdfIr'
alias rmdir='rmdir -v'
alias mkdir='mkdir -v'
alias ln='ln -v'

alias w='w -f'

alias df='df -h'
alias du='du -h'

ll() {
    ls -AhgoX --group-directories-first --color=always "$@" | tail --lines=+2
}

alias pwd='echo -e "${PWD/${HOME}/~}"'

# alias cat='vimcat'
alias glances='glances -1 --fs-free-space --disable-memswap --disable-diskio --process-short-name --byte'
alias makepkg='makepkg -si'

# rm() {
#     # ll $4
#     # ignore -I
#     #

#     # echo -n 'rm: remove # '
#     #/usr/bin/rm: remove 1 argument recursively?
#     echo -n 'rm: continue with removal? '
#     read
#     if [[ $REPLY == 'y' ]] || [[ $REPLY == 'yes' ]]; then
#         /usr/bin/rm "$@"
#     fi
# }

# vim:filetype=zsh
