#!/bin/bash

# Files {{{1

alias eal='e ~/config/dotfiles/.aliases'
alias ea1='e ~/config/arch/arch1.sh'
alias ea2='e ~/config/arch/arch2.sh'
alias ea3='e ~/config/arch/arch3.sh'
alias en='e ~/config/dotfiles/.zshenv'
alias ee='e ~/config/dotfiles/.editorconfig'
alias eg='e ~/Dropbox/notes/technology/programming_guide.md'
alias ep='e ~/config/polybar/config'
alias ev='e ~/config/nvim/init.vim'
alias ei3='e ~/config/i3/config'
alias ez='e ~/config/dotfiles/.zshrc'
alias ex='e ~/config/dotfiles/.xinitrc'
alias em='e ~/config/mutt/muttrc'
alias er='e ~/.config/ranger/rc.conf'
alias et='e ~/config/alacritty/alacritty.yml'

alias eM='e Makefile'


# Changing Dir {{{1

alias gc='cd /home/cjbassi/config'
alias gm='cd /home/cjbassi/.mutt'
alias gn='cd /home/cjbassi/Dropbox/notes'
alias gd='cd /home/cjbassi/Dropbox'
alias gp='cd /home/cjbassi/Dropbox/projects'
alias gs='cd /home/cjbassi/Dropbox/school'
alias gC='cd /home/cjbassi/.config'
alias gt='cd /home/cjbassi/test'
alias gD='cd /home/cjbassi/Downloads'
alias gr='cd /home/cjbassi/.config/ranger'
alias gP='cd /home/cjbassi/.local/share/nvim/plugged'
alias gS='cd /home/cjbassi/.local/share/nvim/plugged/vim-snippets'
alias gN='cd /home/cjbassi/.config/nvim'

alias gM='cd /mnt'


# Commands {{{1

alias blt='bluetoothctl'

alias vg='valgrind'

alias music='ncmpcpp'

alias r='ranger'

alias m='make'

alias git='hub'

alias se='sudoedit'
alias e='vim'
alias vim='nvim'
alias vd='vimdiff'
alias vimdiff='nvim -d'

alias l='ll'

alias py='pipenv run -- python'

alias chrome='google-chrome-stable'


# Tools {{{1

function math()
{
    echo $(($@))
}

alias term='fork alacritty --working-directory .'


function mkcd()
{
    mkdir "$@"; cd "$@"
}

function fork()
{
    nohup "$@" </dev/null >/dev/null 2>&1 &; disown
}

random_number()
{
    echo ${RANDOM}
}
alias random_characters=''
alias random_lines="tr -dc a-z1-4 </dev/urandom | tr 1-2 ' \n' | awk 'length==0 || length>50' | tr 3-4 ' ' | sed 's/^ *//' | cat -s | sed 's/ / /g' | fmt | head -n"
alias random_words='shuf /usr/share/dict/cracklib-small -rn'


# Settings {{{1

alias docker='sudo docker'

alias ag='sudo ag --hidden --ignore .git'

alias valgrind='colour-valgrind --leak-check=yes --track-origins=yes'

alias su='sudo -E su -m'

alias g++='g++ -g -Wall'
alias gcc='gcc -g -Wall'

alias sshfs='sshfs -C -o reconnect'

# TODO progress1 and 2
# alias rsync='rsync -h --info=all2'
alias rsync='rsync -h'

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -Idv'
alias rmdir='rmdir -v'
alias mkdir='mkdir -vp'
alias ln='ln -v'

alias w='w -f'

alias df='df -h'
alias du='du -h'

alias ll='ls -AhgoXF --group-directories-first --color=always'

# alias pwd='echo -e "${PWD/${HOME}/~}"'

alias glances='glances -1 --fs-free-space --disable-memswap --disable-diskio --process-short-name --byte'

alias makepkg='makepkg -si'


# Old Configs {{{1

# math() {
#     echo $(($@))
# }

# rm() {
#     /usr/bin/rm -Iv "$@"
#     reset
# }

# cd() {
#     /usr/bin/cd "$@"
#     ll
# }


# rm() {
#     # ll $4
#     # ignore -I
#     #

#     # echo -n 'rm: remove # '
#     #/usr/bin/rm: remove 1 argument recursively?
#     echo -n 'rm: continue with removal? '
#     read
#     if [[ $REPLY == 'y' ]] || [[ $REPLY == 'yes' ]]; then
#         /usr/bin/rm "$@"
#     fi
# }
