root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,html,php,toml,yml,json,el,nix}]
indent_size = 2

[*.{rs,yml,py,el,nix}]
indent_style = space

[Makefile,*.go]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
