root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,html,php,vim,toml,yml}]
indent_size = 2

[*.rs]
indent_style = spaces

[Makefile,*.go]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
