root = true


[*]
end_of_line = lf
insert_final_newline = true

indend_style = space
indent_size = 4

charset = utf-8

trim_trailing_whitespace = true


[*.{js,html}]
indent_size = 2

[{*.md,init.vim}]
trim_trailing_whitespace = false


[Makefile]
indent_style = tab
