[user]
    name = Caleb Bassi
    email = calebjbassi@gmail.com

[core]
    editor = nvim
    pager = vimpager

[diff]
    tool = code
[difftool]
    prompt = false

[merge]
    tool = code
    conflictstyle = diff3
[mergetool]
    prompt = false
[pull]
	ff = only

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = false
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = cyan bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[alias]
    ad = add
    co = commit
    cm = commit -m
    ca = commit --amend -C HEAD
    cao = commit --amend
    st = status
    di = diff
    ps = push
    pl = pull
    ch = checkout
    cl = clone

    ia = !git add $(git ls-files --modified --others --exclude-standard | fzf -m)
