[user]
    name = Caleb Bassi
    email = calebjbassi@gmail.com

[core]
    editor = nvim
    pager = vimpager
[diff]
    tool = vimdiff
[difftool]
    prompt = false

[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = cyan bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[alias]
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
    this = !git init && git add . && git commmit -m \"Initial commit.\"
