!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Rofi

! Theme
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #003643, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661

! Size
rofi.width:             22
rofi.lines:             8
rofi.bw:                1
rofi.padding:           5
rofi.hide-scrollbar:    true
rofi.separator-style:   solid

! Keybinds
rofi.kb-row-up:         Control+k,Shift+Tab
rofi.kb-row-down:       Control+j,Tab

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! urxvt

URxvt*scrollBar:    false
URxvt.iso14755: true
URxvt.iso14755_52: false
URxvt*foreground: #dcdccc
URxvt*background: #1f1f1f
/* URxvt.perl-ext-common: selection-to-clipboard, */

! XTerm.vt100.translations: #override \n\
!     Ctrl <Key>f: maximize() \n\
!     Ctrl <Key>b: restore()
