!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Rofi

! Theme
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #003643, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661

! Size
rofi.width:             22
rofi.lines:             8
rofi.bw:                1
rofi.padding:           5
rofi.hide-scrollbar:    true
rofi.separator-style:   solid

! Keybinds
rofi.kb-row-up:         Control+k,Shift+Tab
rofi.kb-row-down:       Control+j,Tab

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! urxvt

URxvt.urgentOnBell:     true

URxvt.saveLines:        10000

URxvt*scrollBar:        true
URxvt.scrollBar_right:  true
URxvt.scrollBar_floating: true

URxvt.iso14755:         false
URxvt.iso14755_52:      false

URxvt*foreground:       #dcdccc
URxvt*background:       #1f1f1f
URxvt*font:             xft:Inconsolata:pixelsize=12
/* URxvt*font: xft:DejaVu Sans Mono for Powerline:size=9 */
URxvt.letterSpace: -2

/* URxvt.perl-ext: default,url-select */
/* URxvt.keysym.M-u: perl:url-select:select_next */
/* URxvt.url-select.launcher: /usr/bin/xdg-open */
/* URxvt.url-select.underline: true */

/* URxvt.keysym.C-C: perl:clipboard:copy */
/* URxvt.keysym.C-V: perl:clipboard:paste_escaped */

/* rxvt*perl-lib: /home/erszcz/src/urxvt-vim-scrollback */
/* rxvt*perl-ext-common: -searchable-scrollback,vim-scrollback */
/* rxvt.vim-scrollback: M-s */
/* URxvt.keysym.C-V: perl:clipboard:paste */
/* URxvt.keysym.C-A-V: perl:clipboard:paste_escaped */

/* URxvt.keysym.M-c:   perl:clipboard:copy */
/* URxvt.keysym.M-v:   perl:clipboard:paste */
/* URxvt.perl-ext-common:  default,clipboard */
/* URxvt.perl-ext-common:  default,url-select */
/* URxvt.keysym.M-u:       perl:url-select:select_next */
/* URxvt.urlLauncher:      /usr/bin/conkeror */
/* URxvt.underlineURLs:    true */

/* URxvt.insecure:         true */

URxvt.perl-ext-common: selection-to-clipboard,

! XTerm.vt100.translations: #override \n\
!     Ctrl <Key>f: maximize() \n\
!     Ctrl <Key>b: restore()
