[Unit]
Description=Starts lockscreen on suspend
Before=sleep.target

[Service]
User=%I
Type=forking
ExecStart=bash -c "export XDG_RUNTIME_DIR=/run/user/$(id -u $USER); export SWAYSOCK=$(ls /run/user/*/sway-ipc.*.sock | head -n 1); swaylock-blur"

[Install]
WantedBy=sleep.target
