[Unit]
After=sleep.target

[Service]
User=%I
ExecStart=fish -c "set -gx XDG_RUNTIME_DIR /run/user/$(id -u $USER); set -gx SWAYSOCK=/run/user/$(id -u $USER)/sway-ipc.$(id -u $USER).$(pgrep -x sway).sock; source /home/cjbassi/config/other/shell/commands.sh; reload-settings"

[Install]
WantedBy=sleep.target
