# https://wiki.archlinux.org/index.php/Power_management

[Unit]
Description=Kills sshfs on suspend
Before=sleep.target

[Service]
Type=simple
ExecStart=-/usr/bin/pkill sshfs

[Install]
WantedBy=sleep.target
