# We use a little hack so that the snippet is expanded
# and parsed correctly
snippet snip "Ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:trigger} "${2:description}" ${3:b}
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet
