snippet base "Basic python boilerplate" b
#!/usr/bin/env python


def main():
	${1:pass}


if __name__ == '__main__':
	main()
endsnippet
snippet #! "Shebang header for python scripts" b
#!/usr/bin/env python3
endsnippet
snippet ifmain
if __name__ == '__main__':
	main()
endsnippet
