[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
ExecStart=/home/cjbassi/bin/monitor-detect

[Install]
WantedBy=suspend.target
