[Unit]
Description=evscript

[Service]
ExecStart=sudo evscript \
            -f /home/cjbassi/config/other/evscript.dyon \
            -d /dev/input/by-path/platform-i8042-serio-0-event-kbd \
               /dev/input/by-id/usb-Kinesis_Freestyle_Edge_Keyboard_223606797749-if01-event-kbd

ExecStop=sudo pkill evscript

[Install]
WantedBy=user-applications.target
