# /usr/lib/systemd/system/insync@.service

[Unit]
After=local-fs.target network.target
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/insync start --synchronous-full
ExecStop=/usr/bin/insync quit

[Install]
WantedBy=graphical-session.target
