[Unit]
PartOf=graphical-session.target

[Service]
ExecStart=opensnitch-ui --config ~/.config/opensnitch/ui-config.json

[Install]
WantedBy=graphical-session.target
