[Unit]
Description=Run recover-youtube-videos

[Service]
Type=oneshot
ExecStartPre=sleep 30
ExecStart=/home/cjbassi/.local/share/go/bin/recover-youtube-videos /home/cjbassi/Drive/other/recover-youtube-videos/
