[Unit]
Description=Run recover-youtube-videos

[Service]
Type=oneshot
ExecStart=/home/cjbassi/.local/share/go/bin/recover-youtube-videos /home/cjbassi/playground/recover-youtube-videos/test/

[Install]
WantedBy=timers.target
