# https://github.com/swaywm/sway/wiki/Systemd-integration

[Unit]
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
ExecStart=sway
TimeoutStopSec=10
