[Service]
Type=oneshot
ExecStart=yay ... \
            downloads \
            trash empty 30 --no-confirm

yay cache
pacman cache
downloads
tmp
trash
