[Unit]
PartOf=graphical-session.target

[Service]
ExecStart=udiskie --no-automount --tray --appindicator

[Install]
WantedBy=graphical-session.target
